/* IMAGE_HOME */

main {
    width: 100%;
    height: calc(100vh - 75px);

    padding: 0px var(--padding-global);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.IMAGE_products {
    width: 360px;
    float: right;
}

.IMAGE_products img {
    width: 100%;
    float: right;

    transform: rotate(-10deg);
}

.DESC_products h1 {
    display: flex;
    align-items: center;

    font-size: 2.4em;
    font-weight: 700;

    padding-bottom: 10px;
}

.DESC_products strong {
    font-size: 2.4em;
    font-weight: 700;

    display: flex;
    align-items: center;
}

.DESC_products strong i {
    transform: translateY(3px);
    font-size: 0.8em;
    color: #445c42;
}

.DESC_products h2 {
    padding: 10px 0px 25px 0px;

    font-size: 1.8em;
    font-weight: 500;
}

.DESC_products h1 i {
    color: #1d1d1d;
}

.IMAGE_products .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #445c42;
    clip-path: circle(800px at right 1000px);
    z-index: -999;
}

.title_SERVICE {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    margin: 35px 0px;

    display: flex;
    align-items: center;
}

h3 i {
    margin: 0px 10px;
}

/* Cards */

#service {
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#service .center {
    padding: 0px 40px;
    width: 1280px;

    display: flex;
    justify-content: space-between;
}

.card {
    --border-radius: 0.75rem;
    --primary-color: #445c42;
    --secondary-color: #445c42;
    width: 360px;
    font-family: "Arial";
    padding: 0.5em 2rem 2em 2em;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.121);
    position: relative;
}

.card>*+* {
    margin-top: 1.1em;
}

.card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
}

.card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
}

.card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card svg {
    transition: 0.2s;
}

/* hover */
.card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
}

.card:hover .card__arrow {
    padding: 0.4rem 0.8rem;
    background: #111;
}

.card:active .card__arrow {
    padding: 0.4rem 0.7rem;
}

/* local us */

#local {
    max-width: 1280px;
    display: flex;
    align-items: center;
    padding: 2.5rem;

    margin: 5em auto;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
}

.local_INV {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2.5rem;

    margin: 5em auto;
    justify-content: space-between;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
}

#local .text {
    width: 45%;
}

/* Skiils */

#skills {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;

    background: #2e2e2f;
}

#skills .center {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
    background: #627e5f;
    color: #fff;
    z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 70px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #445c42;
}

.solution_card .solu_title div {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(140deg,
            #42c3ca 0%,
            #42c3ca 50%,
            #42c3cac7 75%) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.our_solution_content div {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.hover_color_bubble {
    position: absolute;
    background: #526c51;
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}

.so_top_icon i {
    font-size: 1.8em;
}

/* Form */

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
}

.form .title {
    color: #526c51;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    background: 0;
}

.form textarea {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
    background: 0;
}

/*start media query*/
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {

    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }

    .our_solution_category {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
    #skills {
        height: auto;
    }

    #skills .center {
        flex-direction: column;
    }
}

/* Depositions */

#depositions {
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#depositions .center {
    padding: 0px 40px;
    width: 1280px;

    display: flex;
    justify-content: space-between;
}

.task {
    position: relative;
    color: #2e2e2f;
    cursor: move;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.121);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    max-width: 360px;

    transition: 250ms;
    margin: 0px 10px;
}

.task:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.155);
}

.task p {
    font-size: 15px;
    margin: 1.2rem 0;
}

.tag {
    border-radius: 100px;
    padding: 4px 13px;
    font-size: 12px;
    color: #ffffff;
    background-color: #1389eb;
}

.tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    background: transparent;
    border: 0;
    color: #c4cad3;
    font-size: 17px;
}

.options svg {
    fill: #9fa4aa;
    width: 20px;
}

.stats {
    position: relative;
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stats svg {
    margin-right: 5px;
    height: 100%;
    stroke: #9fa4aa;
}

.viewer span {
    height: 30px;
    width: 30px;
    background-color: rgb(28, 117, 219);
    margin-right: -10px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 2px;
}

.viewer span svg {
    stroke: #fff;
}

@media screen and (max-width: 1200px) {

    .card {
        width: 290px;
        padding: 0.5em 1rem 1em 1em;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        width: 260px;
        padding: 0.5em 1rem 1em 1em;
    }


    #local .banner iframe {
        width: 400px;
        height: 280px;

        border-radius: 10%;
    }
}

@media screen and (max-width: 888px) {
    #service {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #depositions .center {
        overflow-x: auto;
    }

    .card {
        width: 100%;
        padding: 0.5em 1rem 1em 1em;
        margin: 10px 0px;
    }

    #service .center {
        padding: 0px 40px;
        width: 1280px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #local .text h3 {
        font-size: 1.5em
    }

    #local .text p {
        font-size: 1em
    }

    #local .banner iframe {
        width: 300px;
        height: 220px;

        border-radius: 10%;
    }
}

@media screen and (max-width: 618px) {

    #local {
        width: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    #local .banner {
        width: 100%;
    }

    #local .text {
        width: 100%;
    }

    #local .banner iframe {
        width: 100%;

        border-radius: 10%;
    }
}