<!DOCTYPE html>
<html lang="PT">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Apple Center</title>
    <link rel="stylesheet" href="CSS/header.css">
    <link rel="stylesheet" href="CSS/global.css">
    <link rel="stylesheet" href="CSS/index.css">
</head>

<body>
    <header>

        <div class="brand">
            <a href="/"><i class='bx bxl-apple' style='color:#ffffff'></i></a>
        </div>

        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="#service">Serviços</a></li>
                <li><a href="#local">Localização</a></li>
                <li><a href="#suporte">Suporte</a></li>
            </ul>
        </nav>

        <button class="menu"><i class='bx bx-menu-alt-right'></i></button>
    </header>

    <main>
        <div class="DESC_products">
            <h1><i class='bx bxl-apple'></i>Apple Center</h1>
            <strong>Além do que você imagina.</strong>
            <h2>Está aqui!</h2>
            <a href="#service">
                <button class="primary"> Visitar serviços
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                            style="transform: rotate(90deg);">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor"
                                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                            </path>
                        </svg>
                    </div>
                </button>
            </a>
        </div>
        <div class="IMAGE_products">
            <img src="IMAGE/green.png" alt="">
            <div class="circle"></div>
        </div>
    </main>

    <div class="title_SERVICE">
        <h3>Serviços</h3>
    </div>
    <section id="service">
        <div class="center">
            <a href="/service-phone">
                <div class="card">
                    <h3 class="card__title">Celular
                    </h3>
                    <p class="card__content">iPhone, Motorola, Xiaomi, Samsung</p>
                    <div class="card__date">
                        April 15, 2022
                    </div>
                    <div class="card__arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                            <path fill="#fff"
                                d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                            </path>
                        </svg>
                    </div>
                </div>
            </a>
            <a href="/service-desk">
                <div class="card">
                    <h3 class="card__title">Desktop
                    </h3>
                    <p class="card__content">Todos os modelos e marcas de Notebook/Desktop</p>
                    <div class="card__date">
                        April 15, 2022
                    </div>
                    <div class="card__arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                            <path fill="#fff"
                                d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                            </path>
                        </svg>
                    </div>
                </div>
            </a>
            <a href="/service-bga">
                <div class="card">
                    <h3 class="card__title">BGA
                    </h3>
                    <p class="card__content">Se tem BGA, tem Apple Center!</p>
                    <div class="card__date">
                        April 15, 2022
                    </div>
                    <div class="card__arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                            <path fill="#fff"
                                d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                            </path>
                        </svg>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section id="local">
        <div class="banner">
            <iframe
                src="https://www.google.com/maps/embed?pb=!4v1692160117377!6m8!1m7!1scRgf2tAC4ePYVVW6X5SOOg!2m2!1d-2.500643613964307!2d-44.24083191330078!3f184.2944658601279!4f-10.577624427830926!5f0.7820865974627469"
                width="550" height="350" style="border-radius: 10px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="text">
            <h3>Localização <i class='bx bx-current-location'></i></h3>
            <p>
                Av. Principal Do Cohajap, N. 10 Loja C
            </p>
        </div>
    </section>

    <div id="skills">
        <div class="center">
            <a href="/service-phone">
                <div class="section_our_solution">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="our_solution_category">
                                <div class="solution_cards_box">
                                    <div class="solution_card">
                                        <div class="hover_color_bubble"></div>
                                        <div class="so_top_icon">
                                            <i class='bx bxl-apple'></i>
                                        </div>
                                        <div class="solu_title">
                                            <div>Apple</div>
                                        </div>
                                        <div class="solu_description">
                                            <p>
                                                Oferecemos serviços de: Troca de tela, Reparo de placa, Bateria e tampa
                                                traseira, Estamos prontos para atender às suas necessidades.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/service-desk">
                <div class="section_our_solution">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="our_solution_category">
                                <div class="solution_cards_box">
                                    <div class="solution_card">
                                        <div class="hover_color_bubble"></div>
                                        <div class="so_top_icon">
                                            <i class='bx bx-desktop'></i>
                                        </div>
                                        <div class="solu_title">
                                            <div>Desktop</div>
                                        </div>
                                        <div class="solu_description">
                                            <p>
                                                Oferecemos serviços de: Troca de tela, Reparo de placa, BGA e Resina,
                                                Estamos prontos para atender às suas necessidades.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="section_our_solution">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="our_solution_category">
                                <div class="solution_cards_box">
                                    <div class="solution_card">
                                        <div class="hover_color_bubble"></div>
                                        <div class="so_top_icon">
                                            <i class='bx bx-microchip'></i>
                                        </div>
                                        <div class="solu_title">
                                            <div>BGA</div>
                                        </div>
                                        <div class="solu_description">
                                            <p>
                                                Oferecemos serviços de BGA para todos os dispositivos, estamos prontos
                                                para atender às suas necessidades.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <section id="local" class="local_INV">
        <div class="banner">
            <iframe src="https://www.youtube.com/embed/Q3G3XXAN3jE" width="550" height="350"
                style="border-radius: 10px;" title="Expedicão Amazônia 2022 - Imersão na Floresta Amazônica - 4k"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <div class="text">
            <h3>Sobre nós <i class='bx bx-current-location'></i></h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, fugiat magni illo corporis tempore
                eligendi dolore, dolores alias provident quam sit! Exercitationem omnis nostrum rerum maiores
                aperiam
                asperiores at eligendi.
            </p>
        </div>
    </section>

    <section id="depositions">
        <div class="center">
            <div class="task">
                <div class="tags">
                    <span class="tag">Gustavo</span>
                    <button class="options">
                        <svg xml:space="preserve" viewBox="0 0 41.915 41.916" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg" id="Capa_1" version="1.1" fill="#000000">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <g>
                                        <path
                                            d="M11.214,20.956c0,3.091-2.509,5.589-5.607,5.589C2.51,26.544,0,24.046,0,20.956c0-3.082,2.511-5.585,5.607-5.585 C8.705,15.371,11.214,17.874,11.214,20.956z">
                                        </path>
                                        <path
                                            d="M26.564,20.956c0,3.091-2.509,5.589-5.606,5.589c-3.097,0-5.607-2.498-5.607-5.589c0-3.082,2.511-5.585,5.607-5.585 C24.056,15.371,26.564,17.874,26.564,20.956z">
                                        </path>
                                        <path
                                            d="M41.915,20.956c0,3.091-2.509,5.589-5.607,5.589c-3.097,0-5.606-2.498-5.606-5.589c0-3.082,2.511-5.585,5.606-5.585 C39.406,15.371,41.915,17.874,41.915,20.956z">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
                <p>Excelente serviço! A equipe foi extremamente eficiente na troca da tela do meu smartphone. Meu
                    dispositivo agora parece novo. Recomendo a todos!</p>
                <div class="stats">
                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path stroke-linecap="round" stroke-width="2" d="M12 8V12L15 15"></path>
                                    <circle stroke-width="2" r="9" cy="12" cx="12"></circle>
                                </g>
                            </svg>02/17</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5"
                                        d="M16 10H16.01M12 10H12.01M8 10H8.01M3 10C3 4.64706 5.11765 3 12 3C18.8824 3 21 4.64706 21 10C21 15.3529 18.8824 17 12 17C11.6592 17 11.3301 16.996 11.0124 16.9876L7 21V16.4939C4.0328 15.6692 3 13.7383 3 10Z">
                                    </path>
                                </g>
                            </svg>18</div>
                        <div><svg fill="#000000" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2.5 0 32 32">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <g id="icomoon-ignore"> </g>
                                    <path fill="#000000"
                                        d="M0 10.284l0.505 0.36c0.089 0.064 0.92 0.621 2.604 0.621 0.27 0 0.55-0.015 0.836-0.044 3.752 4.346 6.411 7.472 7.060 8.299-1.227 2.735-1.42 5.808-0.537 8.686l0.256 0.834 7.63-7.631 8.309 8.309 0.742-0.742-8.309-8.309 7.631-7.631-0.834-0.255c-2.829-0.868-5.986-0.672-8.686 0.537-0.825-0.648-3.942-3.3-8.28-7.044 0.11-0.669 0.23-2.183-0.575-3.441l-0.352-0.549-8.001 8.001zM1.729 10.039l6.032-6.033c0.385 1.122 0.090 2.319 0.086 2.334l-0.080 0.314 0.245 0.214c7.409 6.398 8.631 7.39 8.992 7.546l-0.002 0.006 0.195 0.058 0.185-0.087c2.257-1.079 4.903-1.378 7.343-0.836l-13.482 13.481c-0.55-2.47-0.262-5.045 0.837-7.342l0.104-0.218-0.098-0.221-0.031 0.013c-0.322-0.632-1.831-2.38-7.498-8.944l-0.185-0.215-0.282 0.038c-0.338 0.045-0.668 0.069-0.981 0.069-0.595 0-1.053-0.083-1.38-0.176z">
                                    </path>
                                </g>
                            </svg>7</div>
                    </div>
                    <div class="viewer">
                    </div>
                </div>

            </div>

            <div class="task">
                <div class="tags">
                    <span class="tag">Felipe</span>
                    <button class="options">
                        <svg xml:space="preserve" viewBox="0 0 41.915 41.916" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg" id="Capa_1" version="1.1" fill="#000000">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <g>
                                        <path
                                            d="M11.214,20.956c0,3.091-2.509,5.589-5.607,5.589C2.51,26.544,0,24.046,0,20.956c0-3.082,2.511-5.585,5.607-5.585 C8.705,15.371,11.214,17.874,11.214,20.956z">
                                        </path>
                                        <path
                                            d="M26.564,20.956c0,3.091-2.509,5.589-5.606,5.589c-3.097,0-5.607-2.498-5.607-5.589c0-3.082,2.511-5.585,5.607-5.585 C24.056,15.371,26.564,17.874,26.564,20.956z">
                                        </path>
                                        <path
                                            d="M41.915,20.956c0,3.091-2.509,5.589-5.607,5.589c-3.097,0-5.606-2.498-5.606-5.589c0-3.082,2.511-5.585,5.606-5.585 C39.406,15.371,41.915,17.874,41.915,20.956z">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
                <p>
                    Serviço de reparo de placa incrível! Rápido e eficaz, meu dispositivo voltou a funcionar
                    perfeitamente. Muito satisfeito!
                <div class="stats">
                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path stroke-linecap="round" stroke-width="2" d="M12 8V12L15 15"></path>
                                    <circle stroke-width="2" r="9" cy="12" cx="12"></circle>
                                </g>
                            </svg>07/06</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5"
                                        d="M16 10H16.01M12 10H12.01M8 10H8.01M3 10C3 4.64706 5.11765 3 12 3C18.8824 3 21 4.64706 21 10C21 15.3529 18.8824 17 12 17C11.6592 17 11.3301 16.996 11.0124 16.9876L7 21V16.4939C4.0328 15.6692 3 13.7383 3 10Z">
                                    </path>
                                </g>
                            </svg>18</div>
                        <div><svg fill="#000000" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2.5 0 32 32">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <g id="icomoon-ignore"> </g>
                                    <path fill="#000000"
                                        d="M0 10.284l0.505 0.36c0.089 0.064 0.92 0.621 2.604 0.621 0.27 0 0.55-0.015 0.836-0.044 3.752 4.346 6.411 7.472 7.060 8.299-1.227 2.735-1.42 5.808-0.537 8.686l0.256 0.834 7.63-7.631 8.309 8.309 0.742-0.742-8.309-8.309 7.631-7.631-0.834-0.255c-2.829-0.868-5.986-0.672-8.686 0.537-0.825-0.648-3.942-3.3-8.28-7.044 0.11-0.669 0.23-2.183-0.575-3.441l-0.352-0.549-8.001 8.001zM1.729 10.039l6.032-6.033c0.385 1.122 0.090 2.319 0.086 2.334l-0.080 0.314 0.245 0.214c7.409 6.398 8.631 7.39 8.992 7.546l-0.002 0.006 0.195 0.058 0.185-0.087c2.257-1.079 4.903-1.378 7.343-0.836l-13.482 13.481c-0.55-2.47-0.262-5.045 0.837-7.342l0.104-0.218-0.098-0.221-0.031 0.013c-0.322-0.632-1.831-2.38-7.498-8.944l-0.185-0.215-0.282 0.038c-0.338 0.045-0.668 0.069-0.981 0.069-0.595 0-1.053-0.083-1.38-0.176z">
                                    </path>
                                </g>
                            </svg>7</div>
                    </div>
                </div>

            </div>

            <div class="task">
                <div class="tags">
                    <span class="tag">Maria</span>
                    <button class="options">
                        <svg xml:space="preserve" viewBox="0 0 41.915 41.916" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg" id="Capa_1" version="1.1" fill="#000000">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <g>
                                        <path
                                            d="M11.214,20.956c0,3.091-2.509,5.589-5.607,5.589C2.51,26.544,0,24.046,0,20.956c0-3.082,2.511-5.585,5.607-5.585 C8.705,15.371,11.214,17.874,11.214,20.956z">
                                        </path>
                                        <path
                                            d="M26.564,20.956c0,3.091-2.509,5.589-5.606,5.589c-3.097,0-5.607-2.498-5.607-5.589c0-3.082,2.511-5.585,5.607-5.585 C24.056,15.371,26.564,17.874,26.564,20.956z">
                                        </path>
                                        <path
                                            d="M41.915,20.956c0,3.091-2.509,5.589-5.607,5.589c-3.097,0-5.606-2.498-5.606-5.589c0-3.082,2.511-5.585,5.606-5.585 C39.406,15.371,41.915,17.874,41.915,20.956z">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
                <p>
                    Troca de bateria feita com perfeição, agora meu dispositivo dura o dia todo. Ótimo trabalho!
                <div class="stats">
                    <div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path stroke-linecap="round" stroke-width="2" d="M12 8V12L15 15"></path>
                                    <circle stroke-width="2" r="9" cy="12" cx="12"></circle>
                                </g>
                            </svg>11/10</div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5"
                                        d="M16 10H16.01M12 10H12.01M8 10H8.01M3 10C3 4.64706 5.11765 3 12 3C18.8824 3 21 4.64706 21 10C21 15.3529 18.8824 17 12 17C11.6592 17 11.3301 16.996 11.0124 16.9876L7 21V16.4939C4.0328 15.6692 3 13.7383 3 10Z">
                                    </path>
                                </g>
                            </svg>18</div>
                        <div><svg fill="#000000" xmlns:xlink="http://www.w3.org/1999/xlink"
                                xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-2.5 0 32 32">
                                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <g id="icomoon-ignore"> </g>
                                    <path fill="#000000"
                                        d="M0 10.284l0.505 0.36c0.089 0.064 0.92 0.621 2.604 0.621 0.27 0 0.55-0.015 0.836-0.044 3.752 4.346 6.411 7.472 7.060 8.299-1.227 2.735-1.42 5.808-0.537 8.686l0.256 0.834 7.63-7.631 8.309 8.309 0.742-0.742-8.309-8.309 7.631-7.631-0.834-0.255c-2.829-0.868-5.986-0.672-8.686 0.537-0.825-0.648-3.942-3.3-8.28-7.044 0.11-0.669 0.23-2.183-0.575-3.441l-0.352-0.549-8.001 8.001zM1.729 10.039l6.032-6.033c0.385 1.122 0.090 2.319 0.086 2.334l-0.080 0.314 0.245 0.214c7.409 6.398 8.631 7.39 8.992 7.546l-0.002 0.006 0.195 0.058 0.185-0.087c2.257-1.079 4.903-1.378 7.343-0.836l-13.482 13.481c-0.55-2.47-0.262-5.045 0.837-7.342l0.104-0.218-0.098-0.221-0.031 0.013c-0.322-0.632-1.831-2.38-7.498-8.944l-0.185-0.215-0.282 0.038c-0.338 0.045-0.668 0.069-0.981 0.069-0.595 0-1.053-0.083-1.38-0.176z">
                                    </path>
                                </g>
                            </svg>7</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="main_FOOTER">
            <div class="info_APPLECENTER">
                <div class="contact">
                    <h3>Entre em contato</h3>
                    <ul>
                        <li><i class='bx bxl-whatsapp'></i><a href="">(98) 99234-3067</a></li>
                        <li><i class='bx bx-phone'></i><a href="">(98) 99234-3067</a></li>
                        <li><i class='bx bx-envelope'></i><a href="">applecenter@gmail.com</a></li>
                        <li><i class='bx bx-location-plus'></i><a href="">Av Principal Do Cohajap, N. 10 Loja C</a></li>
                    </ul>
                </div>
                <div class="social_media">
                    <h3>Permaneça conectado</h3>
                    <ul>
                        <li><i class='bx bxl-instagram'></i><a
                                href="https://www.instagram.com/applecenter_oficial/">@applecenter_oficial</a></li>
                    </ul>
                </div>
            </div>

            <div class="wpp">
                <a href="https://wa.me/+559892343067?text=Olá, achei vocês no Google!">
                    <img src="https://seeklogo.com/images/W/whatsapp-icon-logo-6E793ACECD-seeklogo.com.png" alt=""
                        srcset="">
                </a>
            </div>

            <div class="suporte" id="suporte">
                <h3>Suporte <span onclick="formAp()"><i class='bx bx-minus' style='color:#ffffff'></i></span></h3>
                <div id="form">
                    <div class="center">
                        <form class="form" action="https://formsubmit.co/davialves.xy@gmail.com" method="POST">
                            <input type="email" placeholder="Seu email" class="input" name="E-Mail">
                            <input type="text" placeholder="Seu nome" class="input" name="Nome">
                            <textarea placeholder="Sua mensagem" name="Mensagem"></textarea>

                            <a href="">
                                <button class="primary"> Enviar
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                            height="24">
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                            <path fill="currentColor"
                                                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                                            </path>
                                        </svg>
                                    </div>
                                </button>
                            </a>
                            <input type="hidden" name="_next" id="next">
                            <input type="hidden" name="_captcha" value="false">
                        </form>
                        <script>
                            var next = document.querySelector('#next').value = window.location.href + "thankyou";
                            var formI = document.querySelector('#suporte h3 span i');
                            var form = document.getElementById('form');

                            function formAp() {
                                if (formI.classList == "bx bx-minus") {
                                    formI.classList = "bx bx-plus"
                                } else {
                                    formI.classList = "bx bx-minus"
                                }

                                if (form.style.display == "none") {
                                    form.style.display = "flex"
                                } else {
                                    form.style.display = "none"
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>


        <div class="copy">
            Copyright Apple Center - 2023. Todos os direitos reservados.
        </div>
    </footer>
    <script src="JS/global.js"></script>

</html>