<!DOCTYPE html>
<html lang="PT" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple center - Consulta médica para seu celular</title>
    <link rel="stylesheet" href="CSS/form_service.css">
    <link rel="stylesheet" href="CSS/header.css">
    <link rel="stylesheet" href="CSS/global.css">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body oncontextmenu="return false;">
    <header>

        <div class="brand">
            <a href="/"><i class='bx bxl-apple' style='color:#ffffff'></i></a>
        </div>

        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/#service">Serviços</a></li>
                <li><a href="/#about">Sobre nós</a></li>
                <li><a href="/#suporte">Suporte</a></li>
            </ul>
        </nav>

        <button class="menu"><i class='bx bx-menu-alt-right'></i></button>
    </header>

    <div class="container">
        <h1>Celular</h1>
        <div class="progress-bar">
            <div class="step">
                <p>
                    Nome
                </p>
                <div class="bullet">
                    <span>1</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>
                    Ajuda
                </p>
                <div class="bullet">
                    <span>2</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>
                    Descrição
                </p>
                <div class="bullet">
                    <span>3</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
        </div>
        <div class="form-outer">
            <form id="messageForm" autocomplete="off">
                <div class="page slide-page">
                    <div class="title">
                        Olá, tudo bem?
                    </div>
                    <div class="px768_FLEX">
                        <div class="field">
                            <div class="label">
                                Nome:
                            </div>
                            <input type="text" name="Nome" id="name" required>
                        </div>
                        <div class="field">
                            <div class="label">
                                Número:
                            </div>
                            <input type="text" id="number" name="phone" onkeypress="mask(this, mphone);"
                                onblur="mask(this, mphone);" />

                        </div>
                    </div>
                    <div class="field">
                        <div class="label" name="email" required>
                            E-mail
                        </div>
                        <input type="text" id="email">
                    </div>
                    <div class="field First">

                        <button class="button firstNext next">


                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                            </svg>


                            <div class="text">
                                Next
                            </div>

                        </button>
                    </div>
                </div>
                <div class="page">
                    <div class="title">
                        Como posso ajudar?
                    </div>
                    <div class="field">
                        <div class="label">
                            Marca:
                        </div>
                        <input type="text" name="Marca" id="marca">
                        <ul class="listMarca" id="listMarca"></ul>
                    </div>
                    <div class="field">
                        <div class="label">
                            Dispositivo:
                        </div>
                        <input type="text" name="Dispositivo" id="input" class="dispositivo" value="">
                        <ul class="list" id="list"></ul>
                    </div>
                    <div class="field btns">
                        <button class="button prev-1 prev">


                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                            </svg>


                            <div class="text">
                                Back
                            </div>

                        </button>

                        <button class="button next-1 next">


                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                            </svg>


                            <div class="text">
                                Next
                            </div>

                        </button>
                    </div>
                </div>
                <div class="page">
                    <div class="title">
                        Descreva:
                    </div>
                    <div class="field">
                        <textarea name="Message" id="message"
                            placeholder="Exemplo: Olá, traseira do meu celular quebrou..." name="message"></textarea>
                    </div>
                    <div class="field btns">
                        <button class="button prev-3 prev">


                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                            </svg>


                            <div class="text">
                                Button
                            </div>

                        </button>

                        <button class="button submit" type="submit" onclick="submitLoad()">


                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                            </svg>


                            <div class="text">
                                Enviar
                            </div>

                        </button>
                    </div>
                </div>
                <input type="hidden" value="" id="ano">
            </form>

            <a id="whatsappLink" href="#" style="display: none;">Enviar para o WhatsApp</a>
        </div>
    </div>

    <div class="loadingBG">
        <svg viewBox="25 25 50 50">
            <circle r="20" cy="50" cx="50"></circle>
        </svg>
    </div>


    <footer>
        <div class="main_FOOTER">
            <div class="info_APPLECENTER">
                <div class="contact">
                    <h3>Entre em contato</h3>
                    <ul>
                        <li><i class='bx bxl-whatsapp'></i><a href="">(98)99234-3067</a></li>
                        <li><i class='bx bx-phone'></i><a href="">(98)99234-3067</a></li>
                        <li><i class='bx bx-envelope'></i><a href="">applecenter@gmail.com</a></li>
                        <li><i class='bx bx-location-plus'></i><a href="">Av Principal Do Cohajap, N. 10 Loja C</a></li>
                    </ul>
                </div>
                <div class="social_media">
                    <h3>Permaneça conectado</h3>
                    <ul>
                        <li><i class='bx bxl-instagram'></i><a
                                href="https://www.instagram.com/applecenter_oficial/">@applecenter_oficial</a></li>
                    </ul>
                </div>
            </div>

            <div class="suporte" id="suporte">
                <h3>Suporte <span onclick="formAp()"><i class='bx bx-minus' style='color:#ffffff'></i></span></h3>
                <div id="form">
                    <div class="center">
                        <form class="form" action="https://formsubmit.co/davialves.xy@gmail.com" method="POST">
                            <input type="email" placeholder="Seu email" class="input" name="E-Mail">
                            <input type="text" placeholder="Seu nome" class="input" name="Nome">
                            <textarea placeholder="Sua mensagem" name="Mensagem"></textarea>

                            <a href="">
                                <button class="primary"> Enviar
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                            height="24">
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                            <path fill="currentColor"
                                                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                                            </path>
                                        </svg>
                                    </div>
                                </button>
                            </a>
                            <input type="hidden" name="_next" id="next">
                            <input type="hidden" name="_captcha" value="false">
                        </form>
                        <script>
                            var next = document.querySelector('#next').value = window.location.href + "thankyou";
                            var formI = document.querySelector('#suporte h3 span i');
                            var form = document.getElementById('form');

                            function formAp() {
                                if (formI.classList == "bx bx-minus") {
                                    formI.classList = "bx bx-plus"
                                } else {
                                    formI.classList = "bx bx-minus"
                                }

                                if (form.style.display == "none") {
                                    form.style.display = "flex"
                                } else {
                                    form.style.display = "none"
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>


        <div class="copy">
            Copyright Apple Center - 2023. Todos os direitos reservados.
        </div>
    </footer>
    <script>

        let names = [
            "iPhone 1st generation",
            "iPhone 3G",
            "iPhone 3GS",
            "iPhone 4",
            "iPhone 4S",
            "iPhone 5",
            "iPhone 5c",
            "iPhone 5s",
            "iPhone 6",
            "iPhone 6 Plus",
            "iPhone 6s",
            "iPhone 6s Plus",
            "iPhone 7",
            "iPhone 7 Plus",
            "iPhone 8",
            "iPhone 8 Plus",
            "iPhone X",
            "iPhone XR",
            "iPhone XS",
            "iPhone XS Max",
            "iPhone 11",
            "iPhone 11 Pro",
            "iPhone 11 Pro Max",
            "iPhone 12 mini",
            "iPhone 12",
            "iPhone 12 Pro",
            "iPhone 12 Pro Max",
            "iPhone 13 mini",
            "iPhone 13",
            "iPhone 13 Pro",
            "iPhone 13 Pro Max",
            "iPhone 14",
            "iPhone 14 Pro",
            "iPhone 14 Pro Max",

            /* Samsung */

            "Galaxy S",
            "Galaxy S Plus",
            "Galaxy S II",
            "Galaxy S II Plus",
            "Galaxy S III",
            "Galaxy S III Mini",
            "Galaxy S4",
            "Galaxy S4 Mini",
            "Galaxy S5",
            "Galaxy S5 Mini",
            "Galaxy S6",
            "Galaxy S6 Edge",
            "Galaxy S6 Edge Plus",
            "Galaxy S7",
            "Galaxy S7 Edge",
            "Galaxy S8",
            "Galaxy S8 Plus",
            "Galaxy S9",
            "Galaxy S9 Plus",
            "Galaxy S10",
            "Galaxy S10e",
            "Galaxy S10 Plus",
            "Galaxy S20",
            "Galaxy S20 FE",
            "Galaxy S20 Plus",
            "Galaxy S20 Ultra",
            "Galaxy S21",
            "Galaxy S21 Plus",
            "Galaxy S21 Ultra",
            "Galaxy Note",
            "Galaxy Note II",
            "Galaxy Note 3",
            "Galaxy Note 4",
            "Galaxy Note 5",
            "Galaxy Note 7",
            "Galaxy Note 8",
            "Galaxy Note 9",
            "Galaxy Note 10",
            "Galaxy Note 10 Plus",
            "Galaxy Note 20",
            "Galaxy Note 20 Ultra",

            /* Xiaomi */

            "Mi 1",
            "Mi 1S",
            "Mi 2",
            "Mi 2S",
            "Mi 3",
            "Mi 4",
            "Mi 4c",
            "Mi 4i",
            "Mi 4s",
            "Mi 5",
            "Mi 5c",
            "Mi 5s",
            "Mi 5s Plus",
            "Mi 6",
            "Mi 6X",
            "Mi 8",
            "Mi 8 Lite",
            "Mi 8 SE",
            "Mi 8 Pro",
            "Mi 8 Explorer Edition",
            "Mi 9",
            "Mi 9 SE",
            "Mi 9T",
            "Mi 9T Pro",
            "Mi 10",
            "Mi 10 Lite",
            "Mi 10 Pro",
            "Mi 10T",
            "Mi 10T Pro",
            "Mi 11",
            "Mi 11 Lite",
            "Mi 11 Pro",
            "Mi 11 Ultra",
            "Mi Mix",
            "Mi Mix 2",
            "Mi Mix 2S",
            "Mi Mix 3",
            "Mi Note",
            "Mi Note 2",
            "Mi Note 3",
            "Mi Note 10",
            "Redmi",
            "Redmi 1S",
            "Redmi 2",
            "Redmi 2 Prime",
            "Redmi 3",
            "Redmi 3S",
            "Redmi 3X",
            "Redmi 4",
            "Redmi 4A",
            "Redmi 4X",
            "Redmi 5",
            "Redmi 5A",
            "Redmi 5 Plus",
            "Redmi 6",
            "Redmi 6A",
            "Redmi 6 Pro",
            "Redmi 7",
            "Redmi 7A",
            "Redmi 8",
            "Redmi 8A",
            "Redmi 9",
            "Redmi 9A",
            "Redmi 9C",
            "Redmi 10",
            "Redmi 10A",
            "Redmi K20",
            "Redmi K20 Pro",
            "Redmi K30",
            "Redmi K30 Pro",
            "Redmi K40",
            "Redmi K40 Pro",

            /* Motorola */

            "Moto E",
            "Moto E2",
            "Moto E3",
            "Moto E4",
            "Moto E4 Plus",
            "Moto E5",
            "Moto E5 Plus",
            "Moto E6",
            "Moto E6 Plus",
            "Moto E7",
            "Moto E7 Plus",
            "Moto E7 Power",
            "Moto E8",
            "Moto G",
            "Moto G2",
            "Moto G3",
            "Moto G4",
            "Moto G4 Play",
            "Moto G4 Plus",
            "Moto G5",
            "Moto G5 Plus",
            "Moto G5S",
            "Moto G5S Plus",
            "Moto G6",
            "Moto G6 Play",
            "Moto G6 Plus",
            "Moto G7",
            "Moto G7 Play",
            "Moto G7 Plus",
            "Moto G7 Power",
            "Moto G8",
            "Moto G8 Play",
            "Moto G8 Plus",
            "Moto G8 Power",
            "Moto G9",
            "Moto G9 Play",
            "Moto G9 Plus",
            "Moto G9 Power",
            "Moto G10",
            "Moto G10 Plus",
            "Moto G30",
            "Moto G40 Fusion",
            "Moto G60",
            "Moto G100",
            "Moto X",
            "Moto X2",
            "Moto X3",
            "Moto X4",
            "Moto X Play",
            "Moto X Style",
            "Moto X Force",
            "Moto X Play (2016)",
            "Moto X4 (2017)",
            "Moto X5",
            "Moto Z",
            "Moto Z Play",
            "Moto Z Force",
            "Moto Z2 Play",
            "Moto Z2 Force",
            "Moto Z3",
            "Moto Z3 Play",
            "Moto Z4",
            "Moto Z4 Play",
            "Moto Z5",
            "Moto Z5 Play"
        ]

        let marcas = [
            "Apple",
            "Samsung",
            "Motorola",
            "Xiaomi",
            "Huawei",
            "Rualme",
            "Google",
            "OnePlus",
            "Nokia",
            "Sony",
            "Asus",
            "LG"
        ];

        let sortedNamesMarca = marcas.sort();

        //reference
        let marca = document.getElementById("marca");
        const paiMarca = document.querySelector("#listMarca");

        //Execute function on keyup
        marca.addEventListener("keyup", (e) => {

            //loop through above array
            //Initially remove all elements ( so if user erases a letter or adds new letter then clean previous outputs)
            removeElementsMarca();
            for (let i of sortedNamesMarca) {
                if (marca.value == "") {
                    paiMarca.style.display = "none";
                } else {
                    paiMarca.style.display = "block"
                }
                //convert input to lowercase and compare with each string

                if (
                    i.toLowerCase().startsWith(marca.value.toLowerCase()) &&
                    marca.value != ""
                ) {
                    //create li element
                    let listItem = document.createElement("li");
                    //One common class name
                    listItem.classList.add("list-itemsMarca");
                    listItem.style.cursor = "pointer";
                    listItem.setAttribute("onclick", "displayNamesMarca('" + i + "')");
                    //Display matched part in bold
                    let word = "<b>" + i.substr(0, marca.value.length) + "</b>";
                    word += i.substr(marca.value.length);
                    //display the value in array
                    listItem.innerHTML = word;
                    document.querySelector(".listMarca").appendChild(listItem);
                }
            }
        });

        function displayNamesMarca(value) {
            paiMarca.style.display = "none"
            marca.value = value;
            removeElementsMarca();
        }

        function removeElementsMarca() {
            //clear all the item
            let itemsMarca = document.querySelectorAll(".list-itemsMarca");
            itemsMarca.forEach((item) => {
                item.remove();
            });
        }

    </script>
    <script src="JS/scripts.js"></script>
    <script src="JS/global.js"></script>
</body>

</html>